 table, th, td {
  border: 1px solid #505050;
  border-collapse: collapse;
}
th, td {
  padding: 5px;
}
tr:nth-child(even) {
    background: #151515;
}

.content {
    margin: auto;
    width:max-content;
    max-width: 100%;
    display: flex;
}

.tables {
    width:max-content;
    max-width: 100%;
    display: block;
}

h1, h2, p {
    width:max-content;
}

.hover_img a { 
    position:relative; 
}
.hover_img a span { 
    position:absolute; 
    display:none; 
    z-index:99;
    pointer-events: none;
}
.hover_img a:hover span { 
    display:block;
    transform: translate(-50%);
}

.group:not(:first-child) .hover_img a:hover span {
    margin-top:-330px;
}

.group {
    padding: 10px;
}

video {
    max-width: 70vw;
}

body {
  background-color: #121212;
  color: #DDDDDD;
}

a {
    color: #DDDDDD;
}

code {
    background-color: #303030;
    padding: 2px;
}

.center {
    text-align: center;
}
